* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --font-family: 'Montserrat', sans-serif;
    --body-background-color: white;
    --card-background-color: white;
    --nav-background-color: #2d545e;
    --nav-link-text-color: #FBFBFB;
    --nav-link-text-hover-color: #c89666;
    --nav-button-background-color: #e1b382;
    --nav-button-background-hover-color: #c89666;
    --button-background-color: #2d545e;
    --button-background-color-hover: #2d545e;
    --error-message-color: #f44336;
    --link-color: #2196f3;
    --dropdown-text_color: black;
    --input_border_color: #c7c5c5;
    --out_of_stock: green;
    --grid-item-border: #e8e8e8;
    --hr-color: #e8e8e8;
    --cart-background: #eaedee;
    --footer-color: #2d545e;
}
/* old theme
:root {
    --font-family: 'Montserrat', sans-serif;
    --body-background-color: white;
    --card-background-color: white;
    --nav-background-color: #272932;
    --nav-link-text-color: #FBFBFB;
    --nav-link-text-hover-color: #0088a9;
    --nav-button-background-color: rgba(0,136,169,1);
    --nav-button-background-hover-color: rgba(255,255,255,1);
    --error-message-color: #f44336;
    --link-color: #2196f3;
}
*/
html {
    font-size: 62.5%;   /* using rems for font size: 1rem = 10px */
}
body {
    font-family: var(--font-family);
    background: var(--body-background-color);
    font-size: 1.6rem;
}
body a {
    color: var(--link-color)
}
h1 {
    font-weight: lighter;
}
a {
    text-decoration: none;
}
hr {
    border: 1px solid var(--hr-color);
}
/********************* UTILITY *********************/
.hr-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-wrapper {
    margin: 1rem auto;
    width: 60%;
}
.margin-1 {
    margin: 1rem;
}
.padding-1 {
    padding: 1rem;
}
.border {
    border: 1px solid var(--input_border_color);
}
.border_rounded {
    border: 1px solid var(--input_border_color);
    border-radius: 4px;
}
.button {
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    border: none;
    font-size: 1.6rem;
    border-radius: .5rem;
    background: var(--button-background-color);
    box-shadow: 0rem .3rem .2rem -.2rem rgba(0,0,0,.2);
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: var(--nav-button-background-hover-color);
}
.button-cancel {
    background-color: brown;
}
.no_decoration {
    text-decoration: none;
    color: black;
}
.bold {
    font-weight: 600;
}
.skinny {
    font-weight: 100;
}
.float-right {
    float: right;
}
.side_margin-1 {
    margin: 0 1rem 0 1rem;
}
.right_margin-1 {
    margin: 0 1rem 0 0;
}
/********************* NAV BAR *********************/
nav {
    background: var(--nav-background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 10%;
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 2rem;
    margin-bottom: 2rem;
}
nav a, li, .nav-button {
    color: var(--nav-link-text-color);
    cursor: pointer;
}
.nav-link {
    list-style: none;
}
.nav-link-list_item {
    display: inline-block;
    padding: 0px 20px;
}
.nav-link-list_item a {
    transition: all 0.3s ease 0s;
}
.nav-link-list_item a:hover {
    color: var(--nav-link-text-hover-color);
}
.nav-link-list_item_button {
    display: inline-block;
    padding: 0px 20px;
}
.nav-logo {
    cursor: pointer;
    font-size: 3rem;
    margin-right: auto;
}
.nav-logo_picture {
    height: auto;
    width: 2.5rem;
}
.nav-button {
    padding: .9rem 2.5rem;
    background-color: var(--nav-button-background-color);
    border: 0px solid red;
    border-radius: 5rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 1.6rem;
}
.nav-button:hover {
    background-color: var(--nav-button-background-hover-color);
}
.nav-search-wrapper {
    padding: 0rem 0rem;
}
.nav-search {
    padding: .8rem .5rem;
    border-radius: .4rem;
    border: none;
    cursor: text;
    width: 40rem;
    font-size: 1.5rem;
}
.nav-search-button {
}

/********************* DROPDOWN MENU *********************/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    /*top: 5rem;*/
    display: none;
    position: absolute;
    background-color: var(--nav-background-color);
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    border: 1px solid white;
    z-index: 1;
    font-size: 1.2rem;
    color: black;
    padding: 1.2rem 1.6rem;
}
.dropdown-content_link {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/********************* VERTICAL ALIGN *********************/
.valign-middle {
    vertical-align: middle;
}
/********************* INPUT *********************/
.input-wrapper {
    padding: 1vh;
    border: 1px solid var(--input_border_color);
    border-radius: 4px;
}
.input-field {
    padding: 1vh;
    text-align: left;
}
.input-label {
}
.input-textbox {
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #969696;
    cursor: text;
    width: 100%;
}
.input-textbox_small {
    width: 5%;
}
.input-textbox_medium {
    width: 20%;
}
.input-helper_text {
    position: center;
    min-height: 18px;
    display: block;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
}
.input-error_message {
    color: var(--error-message-color);
}
.input-button {
    margin: 5rem;
}
/********************* FLEX *********************/
.flex-wrapper {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: left;
}
.flex-item {
    padding: 1rem;
    /*background-color: blue;*/
}
.flex-item-product_page-details {
    flex-grow: 4;
}
.flex-item-product_page_buttons {
    margin-left: auto;
    align-self: center;
}
/********************* GRID *********************/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-wrapper-login {
    display: grid;
    grid-template-columns: 1fr 40rem 1fr;
    padding: 30px;
}
.grid-item {
    /*background: #58d5d6;*/
    /*border: 1px solid var(--input_border_color);*/
    color: white;
    padding: 0;
}
.grid-wrapper_products {
    display: grid;
    width: 100%;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    grid-template-rows: repeat(auto-fit);
}
.grid-item-product {
    color: black;
    padding: 2rem;
    background-color: white;
    border: 1px solid var(--grid-item-border);
}
.grid-item-logincard {
    text-align: center;
    color: black;
    background: var(--card-background-color);
    justify-self: stretch;
}
.grid-item-empty {
}
/*.grid-wrapper-added_to_cart {
    display: grid;
    width: 100%;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--cart-background);
    border: 1px solid var(--input_border_color);
}*/
/********************* IMAGE *********************/
.image-banner {
    display: block;
    width: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}
.image {
    width: 1fr;
    height: 1fr;
    background-position: center center;
    background-size: cover;
}
.image-product-wrapper {
    max-width: 100%;
    height: 20rem;
}
.image-product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: central;
    max-height: 100%;
    max-width: 100%;
}
.image-product_details {
    height: 50rem;
}
.image-product_page-wrapper {
    height: 50rem;
}
.image-added_to_cart {
    height: 10rem;
    border: 1px solid var(--input_border_color);
    margin: 0rem;
}
.image-paypal {
    width: 10rem;
}
/********************* PRODUCT *********************/
.product-heading {
    font-size: 1.7rem;
    color: var(--nav-background-color);
}
.product_page-heading {
    color: var(--nav-background-color);
}
.product_page_price {
    font-size: 4rem;
    line-height: 3rem;
    color: black;
}
.product_page_price-old {
    color: var(--error-message-color);
    text-decoration: line-through;
    font-size: 2rem;
}
.product_price {
    font-size: 2rem;
    line-height: 3rem;
    color: black;
}
.product_price-sale_old {
    color: var(--error-message-color);
    text-decoration: line-through;
    font-size: 1.3rem;
}
.product-in_stock {
    color: var(--out_of_stock);
}
.product-out_of_stock {
    color: var(--error-message-color);
}
.product_page-button {
    font-size: 1.6rem;
    margin: 0;
    padding: .5rem 1rem;
    cursor: pointer;
}
/********************* ADDED_TO_CART *********************/
.added_to_cart-button {
    margin: 1rem;
}
.added_to_cart-wrapper {
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    background-color: var(--cart-background);
    border: 1px solid var(--input_border_color);
}
.added_to_cart-subtotal {
    color: brown;
}
.added_to_cart-subtotal_price {
    color: black;
}
/********************* CART *********************/
.cart-header {
    display: flex;
    justify-content: flex-start;
}
.cart-wrapper {
    display: grid;
    grid-column: 1;
}
.cart-item {
}
.cart-heading {
    font-size: 2rem;
}
.cart-image {
    max-height: 15rem;
    float: left;
    margin-left: 1rem;
}
.cart-quantity-wrapper {
    /* push down */
    margin-top: 1rem;
}
.cart-button {
    margin: 1rem;
}
.cart-price {
    float: right;
    color: brown;
}
.cart-total {
    float: right;
}
/********************* CHECKOUT *********************/
.checkout-wrapper {
    padding: 1rem;
    margin-top: 1rem;
}
.checkout-selected {
    border: 1px solid var(--input_border_color);
    background-color: yellow;
}
.checkout-address {
    margin: 0 0 1rem 0;
}
/********************* FOOTER *********************/
footer {
    margin-top: 20rem;
    color: black;
}
.footer-margin {
    margin: 10rem;
}