* {
}

body {
    /* Montserrat Medium 500, fallback sans-serif */
    font-family: 'Montserrat', sans-serif;
    background: #FBFBFB;
}

nav {
    background: #272932;
}
.nav-link li a button {
    color: white;
}